
.container {
    background-color: #e57373;
    padding: 0%;
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    background-color: black;
    padding: 15px;
}

.sections {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.section {
    width: 40%;
    padding: 40px 80px 50px 20px;

    background-color: #403b3a;
    margin: 10px 25px 20px 10px;
    text-align: center;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}

/* Rotate & Background Change */
.section.rotate-bg:hover {
    transform: rotate(15deg);
    background-color: lightgray;
    border-radius: 20px;
}

.section.rotate-bg img {
    width: 100%;
    border-radius: 20px;
}

/* Scale & Resize */
.section.scale-resize:hover {
    transform: scale(1.2);
    background-color: lightgreen;
}

.section.scale-resize img {
    width: 100%;
    transition: transform 0.5s;
}

/* Skew & Opacity */
.section.skew-opacity:hover {
    transform: skewX(-20deg);
    opacity: 0.5;
}

/* Translate & Text Color */
.section.translate-text:hover {
    transform: translateX(20px);
    color: blue;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
