<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Life University</title>
    <link rel="stylesheet" href="clg.css">
</head>
<body>
    <section class="mainsection">
        <nav>
            <a href="collage web page.html"><img src="https://www.kindpng.com/picc/m/680-6806063_university-logo-design-school-cartoon-png-and-vector.png" alt="logo"></a>
            <div class="nav-link">
                <ul>
                    <li><a href=""><b>HOME</b></a></li>
                    <li><a href=""><b>ABOUT</b></a></li>
                    <li><a href=""><b>COURSE</b></a></li>
                    <li><a href=""><b>BLOG</b></a></li>
                    <li><a href=""><b>CONTACT</b></a></li>
                </ul>

            </div>
        </nav>
    </section>
</body>
</html>