 body{
    background-color: black;
 }
.box{
    width: 100px;
    height: 100px;
    margin: 50px 50px;
    position: relative;
    background-color: green;
    animation: square 10s linear 2s 4;
}
@keyframes square{
    0%{
        left: 50px;
        top: 50px;
    }
    25%{
        background-color: red;
        left: 800px;
        top: 50px;
    }
    50%{
        background-color: white;
        left: 800px;
        top: 500px;
        border-radius: 50%;

    }
    75%{
        background-color: blue;
        left: 50px;
        top: 500px;
    }
    100%{
        top: 50px;
        left: 50px;
    }

}