body{
    margin: 2px;
    padding: 0;
    height: 100%;
}

.nave{
    background-color: black;
    width: 100%;
    padding: 5px;
    position: sticky;
    text-align: center;
    color: white;
}

.ab{
    display: flex;
    margin: 20px;
    text-align: center;
    

}

.a{
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid black;
    transition: all 6s ease;
}
.a:hover{
    transform: rotate(20deg);
    background-color: aquamarine;
}
.a img{
    border: 2px solid red;
    width: 350px;
    height: 200px;
    transition: all 6s ease;
}
.a img:hover{
    transform: rotate(20deg);
    border-radius: 50%;
}

.b{
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid black;
    transition: all 6s ease;

}
.b:hover{
    transform: scale(1.4);
    background-color: aquamarine;
}

.b img{
    border: 2px solid red;
    width: 350px;
    height: 200px;
}

.cd{
    display: flex;
    margin: 20px;
}
.c{
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 50px;
    background-color: antiquewhite;
    border: 2px solid black;
    transition: all 4s ease;
}
.c:hover{
    transform: skew(-20deg);
    opacity: 0.5;
}
.d{
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 50px;
    background-color: antiquewhite;
    border: 2px solid black;
    transition: all 4s ease;
}
.d :hover{
    transform: translate(30px);
    color: rgb(4, 146, 35);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}